:root {
    // Colors
    --light-blue: hsla(178, 60%, 48%, 1);
    --light-blue-active: hsla(178, 76%, 66%, 1);
    --light-yellow: hsla(39, 88%, 58%, 1);
    --light-yellow-active: hsla(39, 100%, 69%, 1);
    --dark-navy: hsla(200, 32%, 15%, 1);
    --semi-dark-navy: hsla(200, 35%, 19%, 1);
    --silver: hsla(199, 24%, 73%, 1);
    --silver-active: hsla(198, 35%, 89%, 1);

    // Box shadows
    --shadow-primary: inset 0px -8px 0px;
    --shadow-yellow-primary: var(--shadow-primary) #CC8B13;
    --shadow-blue-primary: var(--shadow-primary) #118C87;
    --shadow-navy-primary: var(--shadow-primary) #10212A;

    --shadow-secondary: inset 0px -4px 0px;
    --shadow-yellow-secondary: var(--shadow-secondary) #CC8B13;
    --shadow-blue-secondary: var(--shadow-secondary) #118C87;
    --shadow-silver-secondary: var(--shadow-secondary) #6B8997;
    --shadow-navy-secondary: var(--shadow-secondary) #10212A;

    // Font
    --letter-spacing-l: 2.5px;
    --letter-spacing-m: 1.5px;
    --letter-spacing-s: 1.25px;
    --letter-spacing-xs: 1px;
    --letter-spacing-regular: 0.8px;

    --font-medium: 500;
    --font-bold: 700;
}