@import '../../styles/mixins/media';

/* Header */
.turn {
    padding: 0.5625rem 0.9375rem 0.8125rem;
    
    & svg {
        position: relative;
        top: 1px;
        width: 1rem;
        height: 1rem;
    }
    
    & h2 {
        letter-spacing: 0.88px;
        line-height: 1.125rem;
    }
}

.button-restart {
    cursor: pointer;
    padding: 0.75rem;
    color: var(--semi-dark-navy);
    background-color: var(--silver);
    border: none;
    box-shadow: var(--shadow-silver-secondary);
    transition: color .5s ease-in-out,
                background-color .5s ease-in-out;

    &:where(:hover, :focus) {
        color: hsla(199, 35%, 19%, 1);
        background-color: var(--silver-active);
    }

    & svg {
        width: 1rem;
        height: 1rem;
    }
}

@include media(tablet) {
    .turn {
        padding: 0.8125rem 1.875rem 1.1875rem;
        
        & svg {
            position: static;
            width: 1.25rem;
            height: 1.25rem;
        }
        
        & h2 {
            letter-spacing: var(--letter-spacing-xs);
            line-height: 1.25rem;
        }
    }

    .button-restart {
        padding: 1rem;

        & svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
/* End Header */

/* Modal */
// Modal closing Animations
.modal-container {
    &[data-animation='modal-closing'] {
        background-color: hsla(0, 0%, 0%, 0);
        animation: modalFadeOut .4s ease-out;

        .modal {
            & > * {
                opacity: 0;
                animation: modalItemsFadeOut .3s ease-out;
            }

            &::before {
                right: 100%;
                animation: slideOutRight .3s ease-out;
            }

            &::after {
                left: 100%;
                animation: slideOutLeft .3s ease-out;
            }
        }
    }
}

@keyframes modalFadeOut {
    from {
        background-color: hsla(0, 0%, 0%, .5);
    }
}

@keyframes modalItemsFadeOut {
    from {
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        right: 0;
    }
}

@keyframes slideOutLeft {
    from {
        left: 0;
    }
}

.modal-container {
    position: absolute;
    inset: 0;
    z-index: 10;
    animation: modalFadeIn .3s ease-in-out;
    background-color: hsla(0, 0%, 0%, .5);
}

@keyframes modalFadeIn {
    from {
        background-color: hsla(0, 0%, 0%, 0);
    }
}

.modal {
    width: 100%;
    height: 14.25rem;
    position: relative;

    & > * {
        z-index: 1;
        opacity: 1;
        animation: modalItemsFadeIn 1.5s ease-in-out;
    }

    .result {
        letter-spacing: 0.88px;
    }

    .title {
        font-size: clamp(1.5rem, 6vw, 2.5rem);

        & svg {
            width: 1.75rem;
            height: 100%;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        background-color: var(--semi-dark-navy);
        z-index: 0;
    }

    &::before {
        inset: 0 0 50%;
        animation: slideInRight .5s ease-in-out;
    }

    &::after {
        inset: 50% 0 0;
        animation: slideInLeft .5s ease-in-out;
    }
}

@keyframes modalItemsFadeIn {
    from {
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        right: 100%;
    }
}

@keyframes slideInLeft {
    from {
        left: 100%;
    }
}

@include media(tablet) {
    .modal {
        height: 16.625rem;

        .title {
            & svg {
                width: 4rem;
            }
        }
    }
}
/* End Modal */

/* Board */
%size {
    width: clamp(2.5rem, 10vw, 4rem);
    margin: 1.5rem auto 2rem;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1.25rem;

    &-box {
        width: min(100%, 8.75rem);
        aspect-ratio: 1 / 1;
        padding: 0;
        position: relative;
        border: none;
        
        &:empty {
            cursor: pointer;
            position: relative;

            &:where(:hover, :focus) {
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    aspect-ratio: 1 / 1;
                    background-size: cover;
                    @extend %size;
                }

                &[data-turn='X'] {
                    &::before {
                        background-image: url(../../styles/assets/icon-x-outline.svg);
                    }
                }

                &[data-turn='O'] {
                    &::before {
                        background-image: url(../../styles/assets/icon-o-outline.svg);
                    }
                }
            }
        }

        &.X-box {
            color: var(--light-blue);

            &[data-win='true'] {
                color: var(--dark-navy);
                background-color: var(--light-blue);
                box-shadow: var(--shadow-blue-primary);
            }

        }
        
        &.O-box {
            color: var(--light-yellow);

            &[data-win='true'] {
                color: var(--dark-navy);
                background-color: var(--light-yellow);
                box-shadow: var(--shadow-yellow-primary);
            }
        }

        & svg {
            height: auto;
            @extend %size;
        }
    }
}

@include media(tablet) {
    .board {
        &-box {
            &:empty {
                &:where(:hover, :focus) {
                    &::before {
                        margin: 2.375rem auto;
                    }
                }
            }
        }

        & svg {
            margin: 2.375rem auto;
        }
    }
}
/* End Board */

/* Footer */
.score {
    & > * {
        line-height: 1.25;
    }

    & h2 {
        letter-spacing: 0.88px;
    }
}

@include media(tablet) {
    .score {
        & > * {
            line-height: 1.26;
        }
    }
}
/* End Footer */