@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
@import './styles/reset';
@import './styles/variables';
@import './styles/mixins/media';
@import './styles/mixins/units';

body {
    background-color: var(--dark-navy);
    font-family: 'Outfit', 'Futura', sans-serif;
}

#root {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

/* Composition */
.flow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@include media(tablet) {
    .flow {
        gap: 2.5rem;
    }
}
/* End Composition */

/* Utility */
.page-content {
    width: min(calc(100% - (1.5rem * 2)), 28.75rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

.align-self-start {
    align-self: start;
}

.justify-self-end {
    justify-self: end;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;    
}

.logo {
    align-self: center;
}

@include units(gap);
@include units(fs);

.fw-medium {
    font-weight: var(--font-medium);
}

.fw-bold {
    font-weight: var(--font-bold);
}

.letter-xs {
    letter-spacing: 1px;
}

.letter-s {
    letter-spacing: 1.25px;
}

.letter-m {
    letter-spacing: 1.5px;
}

.letter-l {
    letter-spacing: 2.5px;
}

.uppercase {
    text-transform: uppercase;
}

.color-light-blue {
    color: var(--light-blue);
}

.color-light-yellow {
    color: var(--light-yellow);
}

.color-silver {
    color: var(--silver);
}

@include units(mt);
@include units(mb);
@include units(p);
@include units(px);
@include units(py);

.box-navy {
    background-color: var(--semi-dark-navy);

    &[data-type='primary'] {
        box-shadow: var(--shadow-navy-primary);
    }

    &[data-type='secondary'] {
        box-shadow: var(--shadow-navy-secondary);
    }
}

.bg-dark-navy {
    background-color: var(--dark-navy);
}

.bg-semi-dark-navy {
    background-color: var(--semi-dark-navy);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-silver {
    background-color: var(--silver);
}

.bg-light-yellow {
    background-color: var(--light-yellow);
}

.br-1\.5 {
    border-radius: multiply-units(1.5);
}

.br-2\.5 {
    border-radius: multiply-units(2.5);
}

.opacity {
    opacity: .5;
}

@include media(tablet) {
    .tablet\:align-self-center {
        align-self: center;
    }

    .tablet\:letter-m {
        letter-spacing: 1.5px;
    }

    .tablet\:letter-l {
        letter-spacing: 2.5px;
    }

    @include units(gap, tablet);
    @include units(fs, tablet);
    @include units(mt, tablet);
    @include units(mb, tablet);
}

/* End Utility */

/* Block */
.button {
    cursor: pointer;
    color: var(--dark-navy);
    font-size: 1rem;
    line-height: 1.26;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    border: none;
    transition: background-color .3s ease;

    @each $color, $values in $button-colors {
        $background: map-get($values, 'background');
        $background-active: map-get($values, 'background-active');

        &.#{$color} {
            background-color: $background;
    
            &:where(:hover, :focus) {
                background-color: $background-active;
            }
        }
    }
    
    &[data-type='primary'] {
        display: block;
        width: 100%;
        padding: 0.875rem 0 1.375rem;
        letter-spacing: var(--letter-spacing-s);
        border-radius: 0.9375rem;

        &.yellow {
            box-shadow: var(--shadow-yellow-primary);
        }

        &.blue {
            box-shadow: var(--shadow-blue-primary);
        }
    }

    &[data-type='secondary'] {
        display: inline-block;
        padding: 0.9375rem 1rem 1.0625rem;
        letter-spacing: var(--letter-spacing-xs);
        border-radius: 0.625rem;

        &.yellow {
            box-shadow: var(--shadow-yellow-secondary);
        }

        &.silver {
            box-shadow: var(--shadow-silver-secondary);
        }
    }
}

@include media(tablet) {
    .button {
        &[data-type='primary'] {
            padding: 1.0625rem 0 1.5625rem;
            font-size: 1.25rem;
            line-height: 1.26;
        }
    }
}
/* End Block */
