.selection-container {
    padding: 1.5rem 1.5rem 1.875rem;
    text-align: center;
    background-color: var(--semi-dark-navi);
    border-radius: 0.9375rem;
    box-shadow: var(--shadow-navy-primary);
}

.pick-mark {
    cursor: pointer;
    position: relative;
    color: var(--silver);
    transition: color .5s linear;
    background-color: transparent;
    z-index: 0;

    &:where(:hover, :focus) {
        background-color: hsla(198, 23%, 72%, 0.05);
    }

    &:first-child {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            border-radius: 10px;
            background-color: var(--silver);
            z-index: -1;
            transition: left .5s ease-in-out;
        }

        &[aria-checked='false']::before {
            left: 100%;
        }
    }

    &[aria-checked='true'] {
        cursor: default;
        color: var(--dark-navy);
    }
}